<% title "About Frugle" %>

<h2 class="yellow_strip">About Frugle</h2>

<div style="margin: -33px 0pt 0pt; z-index: -10;"><%= image_tag "topgrass.png" %></div>

<h1 class="logo" style="margin-left:75px;"><%= link_to "Frugle", root_path %></h1>

<div class="clr"></div>

<p class="about">Frugle isn’t another deal-a-day site. We’re committed to providing
neighborhood-centric, mom & pop driven, everyday deals to local
communities.</p>

<p class="about">Local businesses are able to sign their business up and start posting
frugles directly to their neighborhood in as little as 60 seconds. If you’re
a business owner, you can get started <%= link_to "here.", businesses_path, :style => "font-weight:bold" %></p>

<p class="about">Users can browse their neighborhood’s frugles and redeem them at a
local store with a printout or with their mobile phone.</p>

<p class="about">We hope that Frugle can serve as a new way local mom & pops
advertise their business to the people in their neighborhood, and that in
turn, people can find out about great local stores near them.</p>

<p class="about">Feel free to drop us a line at <a href="mailto:contact@frugle.me" style="font-weight:bold;">contact@frugle.me</a> if you have any
questions, comments or feedback.</p>

<p class="about">Happy saving!</p>

<p class="about">The Frugle Team</p>

<div style="margin:0 0 -28px -17px;"><%= image_tag "skyline_bottom.png" %></div>