<% title "Frugles" %>

<ul>
  <% for business in @frugles %>
	<% for frugle in business.frugles %>
	<li>
		<%= business.name %> - <%= frugle.id %>
	</li>
    <% end %>
  <% end %>
</ul>

<p><%= link_to "New Frugle", new_frugle_path %></p>
