<% title "Frugles" %>
<h2>Search</h2>
<% form_tag frugles_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<ul class="frugles">
  <% for business in @frugles %>
		<%= render :partial => 'neighborhoods/frugle', :collection => business.frugles, :as => :frugle %>
  <% end %>
</ul>
