<% title "Frugle Privacy Policy" %>

<h2 class="yellow_strip">Frugle Privacy Policy</h2>

<div style="margin: -33px 0pt 0pt; z-index: -10;"><%= image_tag "topgrass.png" %></div>

<p class="about">Last Revised: 5/25/11</p>

<p class="about">PRIVACY AND TRACKING POLICY</p>

<p class="about">1. Information Collection & Use</p>

<p class="about">Frugle does not require personally identifiable information from our users when they read merchant
submitted discounts to the site.</p>

<p class="about">2. Unregistered Users</p>

<p class="about">We do not require users to register in order to view discounts on the Site.</p>

<p class="about">Frugle (“Frugle”) is the sole owner of all content (exclusive of user-provided content) on www.Frugle.me
(“Frugle”). Frugle is a licensee of all merchant-provided discounts on Frugle. Frugle is the sole owner of
the compilation of content that comprises Frugle.</p>

<p class="about">Frugle does not require personally identifiable information from our users when they read or post
messages to the Site’s gossip board. There are three circumstances in which personally identifiable
information is collected. These circumstances are listed below in “Communications from the Site”.</p>

<p class="about">3. Tell-A-Friend</p>

<p class="about">If you choose to use our referral service to tell a friend about our site, we will ask you for your first and
last name and email address and your friend’s email address. We will automatically send your friend a
one-time email inviting him or her to visit the site. Frugle does not use this information for any purpose
other than sending the requested email and, in the aggregate, evaluating use of the tell-a-friend service.</p>

<p class="about">Your friend may contact us to request that we do not send further tell-a-friend referrals by using the link
in the bottom of the email he or she receives.</p>

<p class="about">COMMUNICATIONS FROM THE SITE</p>

<p class="about">1. Registration</p>

<p class="about">Although we do not require registration for viewing the site content, in order to save, print, or redeem
discounts, Frugle requires a user to register. Registration consists of collecting the following pieces of
information: first and last name, sex, birthday and email address. We collect this information to better
tailor the types of discounts and businesses you may be interested in, and to provide the merchant with
customer data. You may delete your account anytime by clicking “delete my account” from the Account
Settings page of your customer profile.</p>

<p class="about">2. Newsletters</p>

<p class="about">If you wish to subscribe to our newsletter(s), we will use your email address to send the newsletter to
you. You may unsubscribe from the newsletter by clicking the “unsubscribe” link in the newsletter or
promotional. We do not send newsletters on any particular schedule, and we reserve the right to cease
sending newsletters at any time. We will not share your email address with third parties.</p>

<p class="about">3. Customer Service</p>

<p class="about">We may communicate with you via email, telephone or postal mail in response to your inquiries, if
you provide that contact information in connection with your inquiry. We may share your contact
information with others as needed to respond to your request. For example, if you are a reporter, we
may share your contact information with our publicists in order to respond to your inquiry.</p>

<p class="about">INFORMATION SHARING AND DISCLOSURE</p>

<p class="about">1. Aggregate Information (non-personally identifiable)</p>

<p class="about">We may share aggregated traffic, clickstream and demographic information (i.e., geographic location
based on IP address) about our user base with our advertisers and potential advertisers. This
information does not identify individual users.</p>

<p class="about">We do not link aggregate user data with personally identifiable information.</p>

<p class="about">2. Legal Disclaimer</p>

<p class="about">We reserve the right to disclose your personally identifiable information and/or non-personally
identifiable information as required by law and when we believe that disclosure is necessary to protect
our rights and/or to comply with a judicial proceeding, court order, or legal process served on our Web
site. We may also disclose your personally identifiable information and/or non personally identifiable
information to law enforcement or campus authorities when we reasonably believe that our failure to
do so may result in imminent harm to you or others.</p>

<p class="about">3. Choice/Opt-out</p>

<p class="about">If you no longer wish to receive our newsletter and promotional communications, you may opt-out
of receiving them by following the instructions included in each newsletter or communication or by
emailing us at <a href="mailto:contact@frugle.me" style="font-weight:bold;">contact@frugle.me</a> using the subject line “unsubscribe”.</p>

<p class="about">You can also change or update your information by contacting <a href="mailto:contact@frugle.me" style="font-weight:bold;">contact@frugle.me</a>.</p>

<p class="about">Log Files</p>

<p class="about">As is true of most Web sites, we gather certain information automatically and store it in log files. This
information includes internet protocol (IP) addresses, browser type, internet service provider (ISP),
referring/exit pages, operating system, date/time stamp, and clickstream data.</p>

<p class="about">We use this information, which does not identify individual users, to analyze trends, to administer the
site, to track users’ movements around the site and to gather demographic information about our user
base as a whole.</p>

<p class="about">We do not link this automatically-collected data to personally identifiable information.</p>

<p class="about">We use a third-party tracking service, Google Analytics, which uses cookies to track non-personally identifiable information about visitors to our site in the aggregate, such as usage and volume statistics,
which we use to analyze trends, to administer the site, to track users’ movements around the site and
to gather demographic information about our user base as a whole. More information about Google
Analytics can be found here.</p>

<p class="about">4. Cookies</p>

<p class="about">A cookie is a small text file that is stored on a user’s computer for record-keeping purposes. We use
cookies on this site. We do not link the information we store in cookies to any personally identifiable
information you submit while on our site.</p>

<p class="about">We use both session ID cookies and/or persistent cookies. We use session cookies to make it easier
for you to navigate our site. A session ID cookie expires when you close your browser. A persistent
cookie remains on your hard drive for an extended period of time. You can remove persistent cookies
by following directions provided in your Internet browser’s “help” file. More information on cookies is
available here.</p>

<p class="about">We set a persistent cookie to store information regarding your personal preferences, saved “frugles”,
categories you select. We also set a persistent cookie to store information regarding the neighborhood
you are viewing. Persistent cookies also enable us to track and target the interests of our users to
enhance the experience on our site.</p>

<p class="about">If you reject cookies, you may still use our site, but your ability to use some areas of our site, may be
limited.</p>

<p class="about">Some of our business partners (e.g., advertisers) may use cookies on our site. We have no access to or
control over these cookies. See “Third Party Advertisers.”</p>

<p class="about">This privacy statement covers the use of cookies by this site only and does not cover the use of cookies
by any advertisers.</p>

<p class="about">5. IP Addresses</p>

<p class="about">If you are particularly concerned about your online privacy, there are several services that offer free IP-
cloaking. Just do a quick search on Google and find one you like...</p>

<p class="about">6. Clear Gifs (Web Beacons/Web Bugs)</p>

<p class="about">Some of our third party advertising partners employ a software technology called clear gifs (a.k.a. Web
Beacons/Web Bugs), that help them better manage their advertisements on our site by informing them
what content is effective. Clear gifs are tiny graphics with a unique identifier, similar in function to
cookies, and are used to track the online movements of Web users. In contrast to cookies, which are
stored on a user’s computer hard drive, clear gifs are embedded invisibly on Web pages and are about
the size of the period at the end of this sentence. We do not tie the information gathered by clear gifs to
our customers’ personally identifiable information.</p>

<p class="about">We use clear gifs in our HTML-based emails to let us know which emails have been opened by
recipients. This allows us to gauge the effectiveness of certain communications and the effectiveness of our marketing campaigns. If you would like to opt-out of these emails, please see “Choice and Opt-out.”</p>

<p class="about">7. Third Party Advertisers</p>

<p class="about">We share aggregate Web site usage information with third party advertisers and potential advertisers.
This information is not personally identifiable.</p>

<p class="about">8. Links to Other Sites</p>

<p class="about">This Web site contains links to other sites that are not owned or controlled by Frugle Please be aware
that we, Frugle, are not responsible for the privacy practices of such other sites.</p>

<p class="about">We encourage you to be aware when you leave our site and to read the privacy statements of each and
every Web site that collects personally identifiable information.</p>

<p class="about">This privacy statement applies only to information collected by this Web site.</p>

<p class="about">9. Bulletin Boards/Chat Rooms</p>

<p class="about">We use a third party service provider to host the Blog function on the Site.</p>

<p class="about">10. Security</p>

<p class="about">We follow generally accepted industry standards to protect the personal information submitted to
us, both during transmission and once we receive it. No method of transmission over the Internet, or
method of electronic storage, is 100% secure, however. Therefore, while we strive to use commercially
acceptable means to protect your personal information, we cannot guarantee its absolute security.</p>

<p class="about">If you have any questions about security on our Web site, you can send email us at <a href="mailto:contact@frugle.me" style="font-weight:bold;">contact@frugle.me</a>
with the subject line “privacy”.</p>

<p class="about">11. Changes in this Privacy Statement</p>

<p class="about">Frugle reserves the right to change the terms and conditions of this Privacy Policy at any time by posting
a revised Privacy Policy on the Site (here). Frugle will alert you that material changes have been made by
posting a prominent notice on our homepage as well as indicating on the top of this Privacy Policy the
date it was last revised (following the words "Last Revised"), so that you are aware of what information
we collect, how we use it, and under what circumstances, if any, we disclose it. The revised Privacy
Policy will be effective immediately after it is posted on the Site. Your use of the Site following the
posting of a revised Privacy Policy will constitute your acceptance of any such revisions. Because Frugle
reserves the right to modify this privacy statement at any time, Frugle encourages you to review this
Privacy Policy whenever you visit the Site to make sure that you understand the current terms and
conditions governing your use of the Site. If you do not agree to this Privacy Policy, please immediately
discontinue your use of the Site.</p>

<p class="about">12. Contact Us</p>

<p class="about">If you have any questions or suggestions regarding our privacy policy, please contact us at:</p>

<p class="about"><a href="mailto:contact@frugle.me" style="font-weight:bold;">contact@frugle.me</a> with the subject line “privacy”.</p>

<p class="about">You may also send a letter to:</p>

<p class="about">
Frugle.me<br />
565 Tigertail Rd.<br />
Los Angeles, CA 90049
</p>

<p class="about">Read Our <%= link_to "Terms of Service", terms_path, :style => "font-weight:bold;" %>

<div class="skyline_bottom"><%= image_tag "skyline_bottom.png" %></div>