<% title "Frugle Terms And Conditions" %>

<h2 class="yellow_strip">Frugle Terms And Conditions</h2>

<div style="margin: -33px 0pt 0pt; z-index: -10;"><%= image_tag "topgrass.png" %></div>

<p class="about">Last Revised: 05/25/11</p>

<p class="about">PLEASE READ THIS AGREEMENT CAREFULLY. BY VIEWING AND/OR USING THIS WEB SITE YOU AGREE
TO BE BOUND BY ALL OF THESE TERMS AND CONDITIONS.</p>

<p class="about">This Agreement (the "Agreement") governs your use of the Frugle Web site, accessible via
www.Frugle.me, and related uniform resource locators (the "Site"). Frugle reserves the right to change
the terms and conditions of this Agreement at any time by posting a revised Agreement on the Site.
Frugle will alert you that changes have been made by indicating on the top of this Agreement the
date it was last revised (following the words "Last Revised"). The revised Agreement will be effective
immediately after it is posted on the Site. Your use of the Site following the posting of a revised
Agreement will constitute your acceptance of any such revisions. Frugle encourages you to review
this Agreement whenever you visit the Site to make sure that you understand the current terms
and conditions governing your use of the Site. If you do not agree to this Agreement (including any
referenced policies or guidelines), please immediately discontinue your use of the Site.</p>

<p class="about">IN THE EVENT OF ANY INCONSISTENCY BETWEEN THIS AGREEMENT AND ANY OTHER INFORMATION
PROVIDED BY FRUGLE, ON THE SITE OR ELSEWHERE, THE TERMS OF THIS AGREEMENT SHALL PREVAIL.</p>

<p class="about">1. Grant of Limited License by Frugle to You.</p>

<p class="about">Frugle offers information regarding coupons, discounts, promotions, for local neighborhoods across
the United States. Subject to your compliance with all of the terms and conditions of this Agreement,
and in consideration of your promises reflected in this Agreement, Frugle grants to you a personal,
nonexclusive, non-assignable and nontransferable license to use the Site (and the underlying software
for the sole purpose of using this Site) from a single computer and to use the Site solely as permitted
under this Agreement.</p>

<p class="about">2. Restrictions of Limited License.</p>

<p class="about">Unless Frugle otherwise notifies you or restricts your use of this Site, merchants may freely
post “frugles”, including coupons, discounts, and promotions, to and at this Site. Merchants agree that
all such posts shall reasonably relate to the topic of information intended for the pages to which they
post content.</p>

<p class="about">You agree that you will: (i) comply with all applicable laws in using or accessing the Site; (ii) not make
any modification, adaptation, improvement, enhancement, translation, or derivative work of or to
any portion of the Site; (iii) not remove, alter, or obscure any proprietary notices (including copyright
notices) of Frugle or any other information provider in any portion of the Site</p>

<p class="about">3. Grant of Limited License by You to Frugle</p>

<p class="about">With respect to any content (including, without limitation, any news, reviews, discounts, lists,
commentary, information, or other text) you post to this Site ("Your Content"), you hereby grant to
Frugle a perpetual, royalty free and non-exclusive license to publish Your Content on the Site or on
any other Site or in any other media throughout the universe. Frugle may reproduce, modify, adapt,
distribute and/or publish any of Your Content for any reason, in any media, at any time. For example,
Frugle may utilize Your Content for online or offline advertising which promotes Frugle or the Site, without any royalty or payment being owed to you. Similarly, Frugle may license Your Content to third
parties, without any royalty or payment being owed to you.</p>

<p class="about">You represent, warrant, and guarantee that you have the full right, ability, and authority to post Your
Content to the Site and grant this license to Frugle. You further represent, warrant, and guarantee that
by posting Your Content to the Site, you are not violating any obligation owed by you to any third party,
including without limitation obligations of confidentiality, privacy, or attribution.</p>

<p class="about">4. Content Accessible Through the Site.</p>

<p class="about">The Site contains a variety of “frugles”, discounts, information, messages and other materials
(the "Content") that users (merchants and customers) of the Site create and post. You acknowledge
that Frugle is not responsible for, does not control, does not endorse and does not verify the Content
posted to the Site or available through the Site, and that it makes no guarantee regarding the reliability,
accuracy, legitimacy or quality of any such Content. You agree that you will bear any and all risk of
reliance on the accuracy, validity or legitimacy of such Content. You agree that Frugle has no obligation
to monitor the reliability, accuracy, legitimacy or quality of such Content, nor to enforce any standards
in connection with such Content. Under no circumstances will Frugle be liable in any way to you for any
Content, including, but not limited to, any errors or omissions in any Content or any loss or damage of
any kind incurred as a result of the use or existence of or exposure to any Content posted or otherwise
transmitted via the Site.</p>

<p class="about">5. No Pre-Screening or Regular Screening of Content.</p>

<p class="about">You acknowledge that Frugle does not pre-screen Content. You agree that Frugle is under no obligation
to review all Content, or any Content, on any regular schedule or at all. You agree that Frugle shall have
the right (but not the obligation) to re-arrange, remove and/or restrict access to any Content on the Site
at any time in its sole discretion, for any reason or for no reason. BY USING THE SITE, YOU AGREE THAT
FRUGLE SHALL HAVE NO OBLIGATION TO MONITOR CONTENT ON THE SITE OR TO DELETE CONTENT
FROM THE SITE, EVEN IF FRUGLE IS NOTIFIED THAT SUCH CONTENT VIOLATES THIS AGREEMENT.</p>

<p class="about">6. User Conduct Guidelines.</p>

<p class="about">FRUGLE RESERVES THE RIGHT, BUT DISCLAIMS ANY OBLIGATION OR RESPONSIBILITY, TO REMOVE ANY
CONTENT THAT DOES NOT ADHERE TO THESE GUIDELINES, IN ITS SOLE DISCRETION.</p>

<p class="about">You agree not to use the Site to:</p>

<p class="about">a) Violate or solicit the violation of any applicable local, state, national or international law. Among
other things, and without limiting the generality of the foregoing, you agree not to post Content
that is obscene or that violates laws relating to sexually explicit material, that infringes the
rights of any third party (including intellectual property and privacy or publicity rights), that is
defamatory, or that constitutes hate speech under applicable law</p>

<p class="about">b) Post any Content that consists of instructional information on illegal activities, including, but not
limited to, hacking, cracking, and breaking.</p>

<p class="about">c) Post the private information of yourself or another such as addresses, phone numbers, Social
Security numbers or credit card numbers, or any other information that you do not have a right
to post or that you have agreed not to post</p>

<p class="about">d) Impersonate any person or entity, including, but not limited to, a Frugle employee, or falsely
state or otherwise misrepresent your affiliation with any other person or entity.</p>

<p class="about">e) Forge headers or otherwise manipulate identifiers in order to falsify the origin of any Content
transmitted through or to the Site.</p>

<p class="about">f) Interfere with or disrupt the Site, or encourage others to do so in any manner whatsoever; and</p>

<p class="about">g) Disseminate off-topic messages on boards, including but not limited to messages promoting any
product, service, web site, board or venture</p>

<p class="about">h) Post headings that do not relate to the associated post, or that misrepresent the contents of the
associated post.</p>

<p class="about">We cannot and do not assure that other users are complying, or will in the future comply, with the
foregoing User Conduct Guidelines or any other provisions of this Agreement, and, as between you and
us, you hereby assume all risk of harm or injury resulting from any such lack of compliance.</p>

<p class="about">If any post constitutes a violation of any criminal law, or evidence that any such violation has occurred
or may occur in the future, Frugle may, in its sole discretion, report the post and related information to
applicable authorities. Frugle may cooperate with authorities when doing so is necessary or desirable to
avoid imminent harm. Frugle will respond to lawful subpoenas.</p>

<p class="about">IF YOU WISH TO REPORT CONTENT THAT VIOLATES THESE GUIDELINES, YOU MAY DO SO BY SENDING US
A LETTER OR EMAILING CONTACT@FRUGLE.COM. YOU AGREE THAT THE DETERMINATION OF WHETHER
TO TAKE ANY ACTION ON SUCH REPORTS SHALL BE MADE BY FRUGLE IN ITS SOLE DISCRETION.
YOU AGREE THAT FRUGLE MAKES NO WARRANTY, EXPRESS OR IMPLIED, THAT IT WILL TAKE ANY
PARTICULAR ACTION, OR ANY ACTION WHATSOEVER, IN RESPONSE TO SUCH REPORTS. FRUGLE
CANNOT AND DOES NOT GUARANTEE THAT IT WILL READ YOUR REPORT, OR RESPOND TO IT, IN ANY
PARTICULAR TIME FRAME OR AT ALL.</p>

<p class="about">7. Frugle Redemption</p>

<p class="about">Frugles accessed through Frugle are redeemable for goods or services by the Merchant. The Merchant,
not Frugle, is the provider of the Voucher and the goods and services and is solely responsible for
redeeming any Voucher you purchase. As issuer of the Voucher, the Merchant shall be fully responsible
for any and all injuries, illnesses, damages, claims, liabilities and costs suffered by or in respect of a
customer, caused in whole or in part by the Merchant or its products and services, as well as for any
unclaimed property liability arising from unredeemed or partially redeemed Vouchers. By redeeming a
Frugle, a customer acquires the right to redeem the Frugle according to its terms and the terms of this
Agreement.</p>

<p class="about">8. Frugle General Terms</p>

<p class="about">Unless otherwise stated in the Frugle or required by law, the following additional terms apply to all
Frugle:</p>

<ul class="about">
	<li>Only one Frugle can be used per order unless otherwise specified by Merchant.</li>
	<li>There is no cash value for any Voucher, and no cash back will be issued for partial redemption of the paid portion of a Voucher, except as required by law.</li>
	<li>The issuing of credit is at the sole discretion of the Merchant, unless otherwise required by
applicable law. For a period of time which extends beyond the Frugle’s listed expiration date, Merchant may be required, by law, to allow you to redeem your Frugle for the amount you paid (if applicable)</li>
	<li>Frugles cannot be combined with any other coupons, gift certificates or promotions unless
otherwise specified by the Merchant.</li>
	<li>Use of a Frugle for alcoholic beverages is at the sole discretion of the Merchant and is subject to compliance with applicable law.</li>
	<li>Frugles cannot be used for taxes, tips, prior balances, shipping or handling, as applicable.</li>
	<li>Neither Frugle nor the Merchant is responsible for lost or stolen Frugles or Frugle reference numbers.</li>
	<li>Reproduction, sale or trade of a Frugle is prohibited, unless it is in compliance with applicable law.</li>
	<li>Frugle price does not include sales, value added or use taxes, which may be charged to you separately by the Merchant at the time the Frugle is redeemed.</li>
	<li>Void to the extent prohibited by law.</li>
</ul>

<p class="about">9. Reservation of Rights.</p>

<p class="about">Frugle reserves all rights not granted in this Agreement. You agree to use your best efforts to prevent
and protect the Site from unauthorized disclosure or use.</p>

<p class="about">10. Information Collection and Privacy.</p>

<p class="about">If you would like information regarding our information collection practices, please refer to our <%= link_to "Privacy Policy", privacy_path, :style => "font-weight:bold;" %>.</p>

<p class="about">11. DISCLAIMER OF WARRANTY.</p>

<p class="about">YOU UNDERSTAND AND AGREE THAT THE SITE AND ANY INFORMATION CONTAINED THEREON IS
PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. YOU EXPRESSLY AGREE THAT USE OF THE SITE
AND CONTENT IS AT YOUR SOLE RISK.</p>

<p class="about">TO THE FULLEST EXTENT PERMISSIBLE UNDER THE APPLICABLE LAW, FRUGLE.COM DISCLAIMS ALL
WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO, WARRANTIES
OF TITLE, OR IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.
WITHOUT LIMITING THE FOREGOING, NEITHER FRUGLE NOR ANY OF ITS AFFILIATES, NOR ANY OF ITS/
THEIR OFFICERS, DIRECTORS, LICENSORS, EMPLOYEES OR REPRESENTATIVES REPRESENT OR WARRANT
(i) THAT THE SITE, OR ANY INFORMATION CONTAINED THEREIN, WILL MEET YOUR REQUIREMENTS OR
BE ACCURATE, TRUTHFUL, COMPLETE, RELIABLE, OR ERROR FREE; (ii) THAT THE SITE WILL ALWAYS BE
AVAILABLE OR WILL BE UNINTERRUPTED, ACCESSIBLE, TIMELY, OR SECURE; (iii) THAT ANY DEFECTS IN
THE SITE OR INFORMATION (INCLUDING WITHOUT LIMITATION INACCURACIES, INCONSISTENCIES, AND
ERRORS) WILL BE CORRECTED, OR THAT THE SITE WILL BE FREE FROM VIRUSES, "WORMS," "TROJAN
HORSES" OR OTHER HARMFUL PROPERTIES; (iv) THE ACCURACY, TRUTHFULNESS, RELIABILITY,
TIMELINESS, OR COMPLETENESS OF ANY MATERIAL PUBLISHED OR ACCESSIBLE ON OR THROUGH THE
SITE; (v) ANY IMPLIED WARRANTY ARISING FROM COURSE OF DEALING OR USAGE OF TRADE; AND
(vi) THAT THE SOFTWARE BEHIND THE SITE IS NON-INFRINGING. FRUGLE AND ITS AFFILIATES HEREBY
DISCLAIM, AND YOU HEREBY WAIVE AND RELEASE FRUGLE AND ITS AFFILIATES FROM, ANY AND ALL
OBLIGATIONS, LIABILITIES, RIGHTS, CLAIMS OR REMEDIES IN TORT ARISING OUT OR IN CONNECTION
WITH YOUR USE OF THIS SITE, WHETHER OR NOT ARISING FROM THE NEGLIGENCE (ACTIVE, PASSIVE OR IMPUTED) OF FRUGLE OR ITS AFFILIATES. FRUGLE EXPRESSLY DISCLAIMS ANY IMPLIED REPRESENTATION
THAT IT WILL MONITOR THE SITE, ENFORCE THE USER CONDUCT GUIDELINES, OR RESPOND TO USER
COMPLAINTS IN ANY PARTICULAR MANNER, OR AT ALL.</p>

<p class="about">YOU ACKNOWLEDGE AND AGREE THAT THE SITE, OR CONTENT ACCESSED THROUGH THE USE OF THE
SITE, IS ACCESSED AT YOUR OWN DISCRETION AND RISK, AND THAT YOU WILL BE SOLELY RESPONSIBLE
FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM YOUR USE OF
THE SITE, OR CONTENT CONTAINED THEREIN.</p>

<p class="about">THIS WEB SITE IS BASED IN LOS ANGELES, CALIFORNIA. FRUGLE MAKES NO CLAIM THAT THE SITE OR
CONTENT APPEARING THEREON ARE APPROPRIATE OR MAY LEGALLY BE ACCESSED FROM OUTSIDE
OF THE UNITED STATES. ACCESS TO THE SITE MAY NOT BE LEGAL BY CERTAIN PERSONS OR IN CERTAIN
COUNTRIES. IF YOU ACCESS THE SITE FROM OUTSIDE OF THE UNITED STATES, YOU DO SO AT YOUR
OWN RISK AND ARE RESPONSIBLE FOR COMPLIANCE WITH THE LAWS OF YOUR JURISDICTION.</p>

<p class="about">SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES, SO THE ABOVE
EXCLUSIONS MAY NOT APPLY TO YOU. YOU MAY ALSO HAVE OTHER LEGAL RIGHTS, WHICH VARY FROM
JURISDICTION TO JURISDICTION</p>

<p class="about">12. LIMITATION OF FRUGLE'S LIABILITY.</p>

<p class="about">IN NO EVENT SHALL FRUGLE OR ANY OF ITS AFFILIATES, OR ANY OF THEIR OFFICERS, DIRECTORS,
EMPLOYEES, AGENTS, REPRESENTATIVES, INFORMATION PROVIDERS OR LICENSORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, PUNITIVE OR OTHER DAMAGES
(REGARDLESS OF THE FORM OF ACTION) ARISING OUT OF (i) USE OF THE SITE OR CONTENT BY ANY
PERSON, INCLUDING BUT NOT LIMITED TO, ANY DAMAGE CAUSED BY ANY RELIANCE ON, OR ANY
DELAYS, INACCURACIES, ERRORS OR OMISSIONS IN, ANY INFORMATION AND CONTENT ACCESSED VIA
THE SITE, (ii) ANY USE OR INABILITY TO USE THE SITE FOR WHATEVER REASON, INCLUDING BUT NOT
LIMITED TO COMMUNICATIONS FAILURE OR ANY OTHER FAILURE WITH TRANSMISSION OR DELIVERY
OF ANY INFORMATION ACCESSED THROUGH THE SITE, OR (iii) ANY GOODS OR SERVICE DISCUSSED,
PURCHASED OR OBTAINED, DIRECTLY OR INDIRECTLY, THROUGH THE SITE, IN EACH CASE EVEN IF
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>

<p class="about">SOME JURISDICTIONS DO NOT ALLOW THESE LIMITATIONS OR EXCLUSIONS SO THEY MAY NOT APPLY
TO YOU.</p>

<p class="about">13. Termination.</p>

<p class="about">Your rights under this Agreement terminate automatically if you fail to comply with any of the terms
and conditions of this Agreement. No notice is required from Frugle to effectuate such termination.
Additionally, Frugle may terminate this Agreement at any time and for any reason and may effect notice
of such termination through any means, including but not limited to posting such notice on the Site or
otherwise publicly proclaiming such termination. Upon termination, you must immediately stop using
the Site.</p>

<p class="about">14. Your Indemnification of Frugle.</p>

<p class="about">You agree to hold harmless, defend, and indemnify Frugle, its officers, directors, employees
subsidiaries, contractors, subcontractors, suppliers, agents, partners and affiliates, successors and
assigns from all liabilities, claims, demands and expenses, including attorneys' fees, that are due to, or
that arise from your use or misuse of the Site (including without limitation actions by you against Frugle)
or for infringement by you of intellectual property rights or other right of any third party. We may
assume exclusive control of any defense or any defense or any matter subject to indemnification by you,
and you agree to cooperate with us in such event.</p>

<p class="about">15. Spam and Acceptable Use.</p>

<p class="about">While we encourage you to refer friends, family, colleagues, and others to use the Site, you may do so
only through methods that are consistent with the terms and conditions of your own Internet service
provider as well as prevailing standards of acceptable Internet use and behavior. In particular, you may
not use the Site, name, trademarks, or other intellectual property of Frugle in conjunction with the
sending of unsolicited e-mail.</p>

<p class="about">16. Feedback</p>

<p class="about">Any comments or materials sent or communicated to Frugle by any means, electronic, written or oral,
including feedback data, such as questions, comments, suggestions, or the like regarding the Site or
any other products or programs of Frugle (collectively "Feedback"), is non-confidential. Frugle has no
obligation to you of any kind with respect to such Feedback and is free to reproduce, use, disclose,
exhibit, display, transform, create derivative works and distribute the Feedback to others without
limitation and without compensation to you. You agree that Frugle is not obligated to respond to
any Feedback or to take any particular action, or any action at all, in connection with such Feedback.
Further, Frugle is free to use any ideas, concepts, know-how or techniques contained in such Feedback
for any purpose whatsoever, including but not limited to developing, manufacturing and marketing
products incorporating such Feedback.</p>

<p class="about">17. Notices.</p>

<p class="about">All written notices to Frugle shall be delivered to: 19963 Kiowa Ave, Ste 8, Los Angeles, CA, 90049.
Frugle may provide you with notice of changes to this Agreement at any time by posting a revised
Agreement on the Site. Frugle will alert you that changes have been made by indicating on the top of
this Agreement the date it was last revised (following the words "Last Revised"). The revised Agreement
will be effective immediately after it is posted on the Site. Your use of the Site following the posting of a
revised Agreement will constitute your acceptance of any such revisions. Frugle may provide you notices
of any other matter by displaying notices to you generally on the Site. Frugle may change its addresses
(e-mail or mailing) by displaying such changes on the Site. All notices to Frugle shall be delivered in
writing and must be sent by either overnight courier or certified mail, return receipt requested.</p>

<p class="about">18. Infringers and Digital Millennium Copyright Act.</p>

<p class="about">Due to the open nature of this Site, it is possible merchants may post frugles that are infringing. If you
become aware of any infringing content, please notify Frugle. Frugle responds to notices of alleged
infringement that comply with the Digital Millennium Copyright Act and other applicable intellectual
property laws, which may include removing or disabling access to material claimed to be the subject
of infringing activity. Our intellectual property policy, and instructions for notifying us of allegedly
infringing material on the Site can be accessed by clicking the link at the footer of this page.</p>

<p class="about">19. Miscellaneous.</p>

<p class="about">(a) Exclusivity.</p>

<p class="about">This Agreement constitutes the complete and exclusive agreement between you and Frugle and
supersedes any other oral or written communications between the parties regarding the subject matter
herein. Any rights not expressly granted herein are reserved.</p>

<p class="about">(b) Severability.</p>

<p class="about">If any provision of this Agreement is held to be unenforceable for any reason, such provision will be
reformed only to the extent necessary to make it enforceable, and such decision will not affect the
enforceability of such provision under other circumstances, or of the remaining provisions hereof under
all circumstances.</p>

<p class="about">(c) Jurisdiction.</p>

<p class="about">This Agreement is governed by the laws of the State of California, without regard to conflicts of law
provisions, and you hereby consent to the exclusive personal jurisdiction of the state and federal courts
in Los Angeles, California, USA for any and all claims or disputes arising out of, to enforce, construe, or
otherwise relating to this Agreement. The exclusive venue for such action shall be the United States
District Court for the Central District of California in downtown Los Angeles. If such dispute does not fall
within the jurisdiction of the United States federal courts, then the exclusive venue for such action shall
be the Superior Court of the state of California, County of Los Angeles, in Los Angeles, California, USA.
You hereby waive any right to object to venue or jurisdiction based on inconvenient forum or for any
other reason, and you waive any statutory or other right pursuant to international laws or treaties, or
the laws of the jurisdiction in which you reside, to have a case relating to this Agreement adjudicated or
resolved in that jurisdiction.</p>

<p class="about">Contact Information</p>

<p class="about">
Frugle.me<br />
565 Tigertail Rd.<br />
Los Angeles, CA 90049<br />
<a href="mailto:contact@frugle.me" style="font-weight:bold;">contact@frugle.me</a>
</p>

<p class="about">Read Our <%= link_to "Privacy Policy", privacy_path, :style => "font-weight:bold;" %>

<div class="skyline_bottom"><%= image_tag "skyline_bottom.png" %></div>