<% title "Verify a Frugle" %>
<h3>Type in the code from the Frugle the customer gave you</h3>

<%= form_tag '/frugles/verified', :remote => true do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  </p>
<% end %>

<h2 id="status"></h2>

<div id="details"></div>