<% title "Frugle for Local Business" %>

<div class="frugle_business_point">
	<%= image_tag "filler-large.jpg" %>
	<h3>Create Local Frugles</h3>
	<p>If you have a coupon, promotion, or deal coming up, let everyone in you neighborhood know about it by creating your own Frugles.</p>
</div>

<div class="frugle_business_point">
	<%= image_tag "filler-large.jpg" %>
	<h3>Drive Traffic to your Store</h3>
	<p>Every month, thousands of local customers search for deals on the products/services you offer in their neighborhood.  Frugle puts you and them in touch.</p>
</div>

<div class="frugle_business_point">
	<%= image_tag "filler-large.jpg" %>
	<h3>View Trends</h3>
	<p>Unlike traditional mailers and advertising, you can view detailed statistics about your Frugles, and add/edit as you deem necessary.</p>
</div>

<div class="clr"></div>

<h2 style="text-align:center;margin: 25px 0;"><%= link_to "List my Business for Free", new_business_path, :class => "big button" %></h2>

	
<div class="clr"></div>