<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<link href="http://frugle.heroku.com/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1><a href="http://www.frugle.me/"><img src="http://frugle.heroku.com/images/title_splash.png" alt="Frugle"></a></h1>
    <p>
      Hello,
    </p>
    <p>
      Someone has attempted to create a business listing in a currently non-supported neighborhood.
    </p>


		<p><strong>User:</strong> <%= @user.email %></p>
		<p><strong>Business Name:</strong> <%= @business.name %></p>
		<p><strong>Zip Code:</strong> <br /><%= @business.zip %></p>

	
		<p><%= link_to "Visit the Site", root_url %></p>
		
		<p>Happy Savings!<br />
			The Frugle Team</p>

  </body>
</html>

