<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<link href="http://frugle.heroku.com/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1><a href="http://www.frugle.me/"><img src="http://frugle.heroku.com/images/title_splash.png" alt="Frugle"></a></h1>
    <p>
      Dear <%= @name %>,
    </p>
    <p>
      Thank you for signing up for Frugle with our Rep over the phone.  We've gone to the liberty of creating login info for you.
    </p>

		<p><strong>Email Address:</strong> <%= @email %></p>
		<p><strong>Password:</strong> frugle</p>
		
		<p><%= link_to "Click Here", new_user_session_url %> to login.  We suggest clicking "account settings" at the top and changing your password when you login for the first time.</p>
		
		<p>After that, start creating some Frugles and attracting customers!</p>

		<p>Happy Earnings!<br />
			The Frugle Team</p>

  </body>
</html>

