body { background-color: #000; color: #ccc; width:960px;margin:0 auto;}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
	color: #000;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container a { color: #000; }
#container a:visited { color: #666; }
#container a:hover { color:#5378A6; }

a { color: #fff; }
a:hover { color: #5378A6; }

div.field, div.actions {
  margin-bottom: 10px;
}

#flash_notice {
  background:lightgreen;
	color:green;
	margin:5px;
	padding:5px;
	text-align:center;
	border: 1px solid green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

h1 {
	float:left;
}

h1 a { text-decoration:none; }

h2 { color: #666; }

label { color: #000;}

nav {
	float:right;
	margin:20px 0 0 0;
}

#neighborhood {
	float:left;
	margin:20px 0 0 20px;
}

#container {
	background:#fff;
	padding: 10px;
	color: #000;
}

footer {
	float: right;
	margin: 10px 0;
	font-size: 10px;
}

ul#categories {
	
}

ul#categories li {
	display:inline;
	font-family:georgia;
	font-size:18px;
	margin-left:10px;
}

ul#subcategories {
	
}

ul#subcategories li {
	display:inline;
	font-family:georgia;
	margin-left:10px;
}

ul#frugles {
	
}

ul#frugles li {
	list-style-type:none;
	margin-top:20px;
}

ul#frugles li img {
	float: left;
	border: 1px solid black;
}

ul#frugles li div {
	float: left;
	margin-left: 10px;
}

ul#frugles li div h3 {
	margin: 0;
}

ul#frugles li div h3 a { text-decoration:none; }

ul#frugles li div p {
	margin: 0;
}

.frugle_business_point {
	width: 250px;
	float: left;
	margin:0 30px;
}