<% for category in @user_categories %>
<% @businesses = Business.find :all, :include => :frugles, :conditions => ["category_id = ? AND frugles.id IS NOT NULL", category.id] %>
<% @subcategories = @businesses.map(&:subcategory).uniq %>
	<% for subcategory in @subcategories %>
		<li id="subcategory_<%= subcategory.id %>">
		<% @user_subcategories = current_user.subcategories %>
		<% if @user_subcategories.include?(subcategory) %>
			<%= link_to "#{subcategory.title}", subcategorization_path(current_user.id, :subcategory_id => subcategory.id), :method => :delete, :remote => true, :style => "background-color:yellow;" %>
		<% else %>
			<%= link_to "#{subcategory.title}", new_subcategorization_path(current_user.id, :subcategory_id => subcategory.id), :remote => true %>
		<% end %>
		</li>
	<% end %>
<% end %>