<% if user_signed_in? %>

<% for subcategory in @user_subcategories %>
		<li class="fl" id="subcategory_<%= subcategory.id %>">
			<%= link_to subcategory.title, subcategorization_path(current_user, :subcategory_id => subcategory.id), :method => :delete, :remote => true, :style => "background:#FFBA5F;" %>
		</li>
<% end %>

<% else %>

<% @user_subcategories.each do |subcategory| %>
		<li class="fl" id="subcategory_<%= subcategory.id %>">
			<%= link_to subcategory.title, out_destroy_subcategorization_path(:subcategory_id => subcategory.id), :remote => true, :style => "background:#FFBA5F;" %>
		</li>
<% end %>

<% end %>