<li class="product_box3">
	<div class="product_col_left"><%= link_to image_tag("shirt.png"), business_frugle_path(frugle.business, frugle), :class => "iframe" %></div>
  <div class="product_col_right">
  	<div class="product_caption"><%= link_to "#{frugle.cost}", business_frugle_path(frugle.business, frugle), :class => "iframe" %></div>
    <div class="frugle_address"><%= frugle.business.address %></div>
    <div class="frugle_business"><%= link_to frugle.business.name, business_path(frugle.business) %>
  </div>
</li>