<div id="paginator">
	<% unless @results.current_page == 1 %>
		<%= link_to "← Previous Frugles", paginate_path(:page => @results.current_page - 1), :remote => true %> | 
	<% end %>
	<% @page = 1 %>
	<% while @page <= @results.total_pages %>
		<%= link_to "#{@page}", paginate_path(:page => @page ), :remote => true %>
		<% @page = @page + 1 %>
	<% end %>
	
	<% unless @results.current_page >= @results.total_pages %>
		| <%= link_to "View More Frugles →", paginate_path(:page => @results.current_page + 1), :remote => true %>
	<% end %>
</div>