<li style="list-style:none;">
	<div class="product_col_left"><%= category_icon(frugle) %></div>
  <div class="fl" style="width:140px;">
  	<div class="scrollable"><%= link_to frugle.business.name, business_path(frugle.business) %></div>
  </div>
<div class="clr"></div>
	<div class="product_offer">
		<%= link_to frugle.cost, business_frugle_path(frugle.business, frugle, :iframe => "true"), :class => "iframe" %>
		</div>
</li>