<script>
	jQuery(".iframe").fancybox({
		height: 500,
		width: 700,
		hideOnContentClick: true
	});
</script>

<li class="offer_box">
	<div class="offer_col_1"><%= link_to truncate(frugle.business.name, :length => 20), business_path(frugle.business) %></div>
  <div class="offer_col_2"><%= link_to "#{truncate(frugle.cost, :length => 35)}", business_frugle_path(frugle.business, frugle), :class => "iframe" %></div>
  	<div class="clr"></div>
</li>