<script>
	jQuery(".iframe").fancybox({
		height: 500,
		width: 700,
		hideOnContentClick: true
	});
</script>

<li class="offer_box">
	<p style="float:left"><%= category_icon(frugle)%></p>
	<div style="margin:-2px 0 0 5px; float:left">
		<div class="offer_col_1"><%= link_to "#{truncate(frugle.business.name, :length => 30)}", business_path(frugle.business) %></div>
  	<div class="offer_col_2"><%= link_to "#{truncate(frugle.cost, :length => 25)}", business_frugle_path(frugle.business, frugle, :iframe => "true"), :class => "iframe" %></div>
	</div>
  	<div class="clr"></div>
</li>