<li class="offer_box">
	<div class="offer_col_1"><%= link_to frugle.business.name, business_path(frugle.business) %></div>
  <div class="offer_col_2"><%= link_to "#{frugle.cost}", business_frugle_path(frugle.business, frugle), :class => "iframe" %></div>
  	<div class="clr"></div>
</li>